.admin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-input {
    width: 100%;
}

.admin-products {
    display: flex;
    flex-wrap: wrap;
    column-gap: 52px;
    row-gap: 86px;
}